.row {
    display:flex;

}

.gridsquare {
    display: flex;
    background-color: white;
    color: white;
    height:6px;
    width: 6px;
    padding: 0px;
    margin: 0px;
}

#title {
    font-size: 26px;
    font-weight: bold;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:12px;
}

button {
   font-size: 16px;
}

#grid {
    border-width: 1px;
    border-color: black;
    border-style:solid;
}